# My Jupyter Notebook on IBM Watson Studio

**Rifayat Showrav**

Role: Data Scientist

*I enjoy data science because I enjoy working with messy data.*

### The below code adds two plus two

In [4]:
2+2

4

| Column1 | Column 2|
| ------- | ------- |
| Data1   | Data 2  |




Horizontal
***
Break


+ One
+ Two
+ Three